* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #242742;
}

.newsletter-container, .left-form-container{
    display: flex;
    flex-direction: column;
}

.left-form-container {
    padding: 25px;
    margin-top: 15px;
}

.text-container {
    line-height: 1.5rem;
}

.text-container h1, .text-container p{
    margin-bottom: 20px;
}

ul {
    list-style-image: url('./assets/images/icon-list.svg');
    margin-left: 25px;
}

li {
    margin-bottom: 10px;
}

li span {
    position: relative;
    left: 10px;
    top: -5px
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container {
    margin-top: 30px;
}

.form-container input, .form-container button{
    padding: 20px;
    width: 100%;
    min-height: 60px;
    font-size: 16px; 
    margin-bottom: 25px;
    border-radius: 6px;
}

#email {
    background-color: white; 
    color: #242742; 
    margin-top: 15px;
    border: 1px solid #dddddd;
    text-align: left; 
}

#form-text-container p{
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
}

.invalid-email-text {
    display: none;
    margin-left: auto;
    color: #ff6257;
    border: 0;
}

.form-container button {
    background-color: #242742; 
    color: white; 
    border-width: 0px;
    font-weight: 700;
    text-align: center; 
}

.button:hover {
    box-shadow: 0px 25px 30px -15px rgba(255, 98, 87);
    background: linear-gradient(90deg, #ff6257, #ff9a44);
}


@media (min-width: 576px) {
    body {
        background-color: #242742;
        display: flex;
        justify-content: center; /* center horizontally */
        align-items: center; /* center vertically */
        height: 100vh; /* set height to full viewport height */
    }

    .newsletter-container {
        background-color: white;
        flex-direction: row;
        max-width: 900px;
        min-width: 500px;
        padding: 20px;
        border-radius: 30px;
        align-items: center;
        margin: 0 auto;
    }

    .myImage {
        height: 100%;
    }

    .left-form-container {
        margin-top: 0px;
        padding: 10px;
        width: 500px;
        margin-left: 15px;
    }

    .myImage {
        content: url('./assets/images/illustration-sign-up-desktop.svg');
        margin-left: 30px;
        order: 2;
    }

    .left-form-container h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        line-height: 3.5rem;
    }
    .left-form-container {
        order: 1;
    }
}